@{
    ViewBag.Title = "About";
}

<style>
    .img {
        float: right;
        margin-top:6%;
    }

    p{
        float: initial;
    }
</style>


<div class="img">
    <img align="top" src="~/imagens/sobre/escritorio.jpg" alt="suporte" width="550">
</div>

<h3>AZURA INFORMAÇOÊS</h3>
<div class="container">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus rutrum ante, nec tempus eros viverra sed. Nam fringilla porta urna id consectetur. Nulla consequat nibh tincidunt lacus rutrum convallis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque risus elit, ultrices ac tortor ac, laoreet vestibulum massa. Nulla interdum sem eget libero porttitor, interdum suscipit orci elementum. Sed fermentum egestas dapibus. Maecenas efficitur felis vel diam luctus rhoncus. Sed dapibus blandit suscipit. In consectetur lacinia ipsum. Nam sed purus pellentesque, accumsan ex sed, pellentesque odio. Nulla et urna magna. Curabitur efficitur sit amet dui ut euismod.

        Duis porttitor ante scelerisque ex tempus fermentum. Vestibulum vulputate ante dapibus diam gravida pretium vitae ut nisl. Suspendisse ac est vulputate, vehicula odio in, interdum libero. In bibendum erat purus, vel gravida ex iaculis ac. In at ante a leo lacinia faucibus. In enim ligula, iaculis ut interdum vel, placerat non odio. Quisque venenatis ipsum tellus. Nunc convallis blandit elit ac congue. Nulla facilisi. Nulla facilisi. Suspendisse arcu leo, tristique et enim ac, posuere lacinia nibh.

        Maecenas vel augue vitae augue tincidunt facilisis pulvinar in nisl. Aliquam eu ex in ante rutrum porta. Aenean non leo semper nisi consequat maximus. Vivamus sit amet magna posuere, varius turpis in, ultrices dui. Nam sed ultricies lectus. Donec at ornare felis. Sed in risus tellus. Nam condimentum tortor ligula.

        Nulla vel aliquet turpis, in placerat justo. Vivamus vehicula, tellus a volutpat suscipit, tortor sapien laoreet nisl, ac lacinia sapien leo quis nulla. Mauris congue commodo elementum. Curabitur aliquet efficitur ex, id viverra dolor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc id suscipit risus, id egestas dui. Sed ornare nibh sit amet nisi cursus, ut pharetra diam mattis. Praesent mattis ante id quam sollicitudin, mattis pulvinar dui imperdiet. Pellentesque euismod magna ut mi aliquet tempor. Vestibulum lacinia erat vel lacus pulvinar mollis. Aliquam commodo leo non tellus sagittis, et congue arcu condimentum. Sed posuere elit at orci cursus ornare. Phasellus et elit sed lorem convallis suscipit. Aenean laoreet risus ut augue laoreet, et semper orci dictum. Nulla nisi ex, tincidunt nec auctor id, volutpat quis dui.

    </p>

</div>


