@{
    ViewBag.Title = "Contact";
}

<style>
    .img {
       float:right;
       
    }
</style>


<div class="img">
    <img align="top" src="~/imagens/suporte/contato.jpg" alt="suporte" width="850">
</div>

<h3>AZURA INFORMAÇOÊS</h3>
    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>SUPORTE:</strong>   <a href="mailto:Azura@alimentos.com">Azura@alimentos.com</a><br />
        <strong>NEGOCIAÇÃO:</strong> <a href="mailto:Azura@alimentos.com">Azura@alimentos.com</a>
    </address>



